@import "tailwindcss";
@import "flag-icons/css/flag-icons.min.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Efecto de fondo animado */
@keyframes movingGrid {
  0% { transform: translateY(0); }
  100% { transform: translateY(40px); }
}

.bg-animated-grid {
  background-size: 40px 40px;
  background-image: 
    linear-gradient(to right, rgba(34, 197, 94, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(34, 197, 94, 0.1) 1px, transparent 1px);
  animation: movingGrid 3s linear infinite;
}

/* Efecto de resplandor para el texto/logo */
.glow-text {
  text-shadow: 0 0 20px rgba(34, 197, 94, 0.5);
}
